@import "vars";













.header-botom-box1{
	display: block;
	width: 100%;
	max-width: 964px;
	height: auto;
	background: transparent;
	padding: 20px 20px;
	margin-top: 65px;
	border: 9px solid #fdb500;
	font-size: 0;
	@include mobile(768){
		padding: 20px 50px;
	}
	@include mobile(1200){
		background: url(../img/header-box1.png) center center no-repeat;
		border: 9px solid transparent;
		padding: 40px 70px;
		height: 402px;
	}
}
.header-wrapp1{
	position: relative;
}
.box992{
	display: block;
	@include mobile(1200){
		display: none;
	}
}
.header-botom-box11{
	left: none;
    position: none;
    top: none;
    transform: none;

	display: block;
	width: 100%;
	max-width: 940px;
	height: auto;
	background: #fff;
	padding: 20px 20px;
	margin-top: 65px;
	border: 9px solid #fdb500;
	font-size: 0;
	@include mobile(768){
		padding: 20px 50px;
	}
	@include mobile(1200){
		left: 50%;
	    position: absolute;
	    top: 94%; /* 50% */
	    transform: translate(-50%, -50%);

		height: 382px;
		background: url(../img/header-box2.png) center center no-repeat;
		border: 9px solid transparent;
		padding: 40px 70px;
		max-width: 964px;
	}

}
.header-botom-leftbox{
	display: inline-block;
	width: 100%;
	vertical-align: top;
    margin-top: 10px;
    @include mobile(768){
    	width: 60%;
	}
    @include mobile(992){
    	margin-top: 50px;
		width: 50%;
	}
}
.header-botlefbox{
	padding-left: 0px;
	margin-top: 0px;
	@include mobile(768){
    	padding-left: 50px;
		margin-top: 20px;
	}
	@include mobile(992){
    	padding-left: 0px;
		margin-top: 0px;
	}
}
.header-botom-rightbox{
	display: none;
	width: 40%;
	vertical-align: top;
	padding-left: 50px;
	@include mobile(768){
		display: inline-block;
	}
	@include mobile(992){
		width: 47%;
	}
}
.header-botom-rightbox1{
	display: none;
	width: 40%;
	vertical-align: top;
	@include mobile(768){
		display: inline-block;
	}
	@include mobile(992){
		width: 47%;
	}
}
.header-botomleft-span{
	display: block;
	font-family: MuseoSansCyrl-700;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 25px;
	@include mobile(480){
		font-size: 22px;
	}
	@include mobile(992){
		font-size: 25px;
	}
}
.header-botomleft-span1{
	display: block;
	font-family: MuseoSansCyrl-700;
	color: #000;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 25px;
	@include mobile(480){
		font-size: 22px;
	}
	@include mobile(992){
		font-size: 25px;
	}
}
.header-botomleft-text{
	display: block;
	font-family: AvenirNext-Regular;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	margin: 20px 0px;
	@include mobile(480){
		font-size: 16px;
		line-height: 20px;
	}
}
.header-botomleft-text1{
	display: block;
	font-family: AvenirNext-Regular;
	color: #000;
	font-size: 12px;
	line-height: 18px;
	margin: 20px 0px;
	@include mobile(480){
		font-size: 16px;
		line-height: 20px;
	}
}
.header-link{
	display: block;
	width: 100%;
	max-width: 310px;
	height: 65px;
	background-image: linear-gradient(to top, #dd7915 0%, #fdca45 100%);
	border-radius: 32px;
	box-shadow: 0 0 26.2px 5.8px rgba(246, 184, 58, 0.42);
	padding: 10px 11px;
	margin: 30px auto;
	&:hover, &:active, &:focus{
		// background-image: linear-gradient(to top, #dd7915 0%, #fdca45 100%);
		// box-shadow: 0 0 26.2px 5.8px rgba(246, 184, 58, 0.42);
		text-decoration: none; 
	}
	span{
		display: block;
		width: 100%;
		height: 44px;
		background-image: linear-gradient(to top, #f9a10b 0%, #dd7915 100%);
		border-radius: 22px;
		box-shadow: inset 0 31px 35.6px 18.4px rgba(221, 145, 0, 0.29);
		text-shadow: 1px 1.7px 8.6px rgba(0, 0, 0, 0.29);
		color: #fff;
		font-family: AvenirNext-DemiBold;
		font-size: 17px;
		line-height: 44px;
		text-transform: uppercase;
		text-align: center;
		&:hover, &:active, &:focus{
			// background-image: linear-gradient(to top, #f9a10b 0%, #dd7915 100%);
			// box-shadow: inset 0 31px 35.6px 18.4px rgba(221, 145, 0, 0.29);
			// text-shadow: 1px 1.7px 8.6px rgba(0, 0, 0, 0.29);
			text-decoration: none; 
		}
	}
}
.header-itemwrapp{
	width: 100%;
	font-size: 0;
	text-align: center;
}
.header-item{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 150px;
	text-align: center;
	margin: 30px 12px;
	@include mobile(992){
		max-width: 209px;
	}
	@include mobile(1200){
		max-width: 258px;
	}
}
.header-title{
	display: block;
	font-family: "MuseoSansCyrl-900";
	font-size: 19px;
	line-height: 32px;
	text-transform: uppercase;
	color: #fff;
	@include mobile(480){
		font-size: 20px;
		line-height: 32px;
	}
	@include mobile(768){
		font-size: 26px;
		line-height: 45px;
	}
	@include mobile(992){
		font-size: 33px;
	}
	@include mobile(1200){
		font-size: 41px;
	}
	span{
		color: #fdb600;
	}
}
.header-itemcontent{
	margin-top: 15px;
}
.header-itemcontent-span{
	display: block;
	font-family: "AvenirNext-DemiBold";
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	@include mobile(992){
		font-size: 16px;
	}
	@include mobile(1200){
		font-size: 18px;
	}
}
.header-titlewrapp{
	width: 100%;
	max-width: 1095px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}
.header-topline{
	text-align: center;
}
.header-logobox{
	display: inline-block;
	vertical-align: middle;
}
.header-logotext{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
    margin-left: 28px;
}
.header-logospan{
	display: inline-block;
	font-family: "AvenirNext-Regular";
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}
.header-wrapp{
	clip-path: none;
	background: url(../img/header-fon.jpg) top center no-repeat;
	background-size: cover;
	height: auto;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 45px;
	@include mobile(1200){
		background-size: unset;
		clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
		height: 1292px;
	}
}
// .header-mask{
// 	width: 100%;
// 	max-width: 1920px;
// 	height: 100%;
// 	// background: rgba(0,0,0,0.7);
// 	margin: 0 auto;
// 	padding-top: 45px;
// 	padding-bottom: 45px;
// 	@include mobile(1200){
// 		padding-bottom: 0px;
// 	}
// }
.box1200{
	display: none;
	@include mobile(1200){
		display: block;
	}
}