@import "vars";




.video-title{
	position: relative;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 12%;
	margin-bottom: 30px;
	&::before{
		position: absolute;
		content: "";
		width: 100%;
		max-width: 360px;
		height: 3px;
		background: #06baf6;
		left: 50%;
	    bottom: -10%;
	    transform: translate(-50%, -50%);
	    @include mobile(480){
			bottom: -30%;
		}
	}
	@include mobile(992){
		margin-top: 10%;
		margin-bottom: 30px;
	}
	@include mobile(1200){
		margin-top: 33%;
	}
	@include mobile(1600){
		margin-top: 21%;
		margin-bottom: 40px;
	}
}
.video-subtitle{
	display: block;
	font-family: AvenirNext-DemiBold;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	@include mobile(480){
		font-size: 16px;
	}
	@include mobile(768){
		font-size: 20px;
	}
}
.video-div{
	width: 100%;
	height: auto;
	background: #fff;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 25px;
	margin: 40px auto;
	border: 9px solid #fdb500;
	@include mobile(1200){
		border: 9px solid transparent;
		width: 1035px;
		height: 130px;
		background: url(../img/video-border.png) center center no-repeat #fff;
		padding-bottom: 0;
	}
}
.video-div-text{
	display: block;
	font-family: AvenirNext-DemiBold;
	color: #1a1a1a;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	@include mobile(1200){
		font-size: 20px;
	}
}
.video-viewdiv1{
	width: 100%;
	max-width: none;
	height: auto;
	padding-top: 20px;
	background: url(../img/videomac.png) top center no-repeat;
	background-size: cover;
	padding-bottom: 140px;
	// box-shadow: 0 0 62px rgba(7, 185, 246, 0.35);
	@include mobile(1200){
		max-width: 1135px;
		height: 943px;
		padding-bottom: 0px;
	}
}
.video-viewdiv{
	display: block;
	width: 100%;
	height: 400px;
	margin: 0px auto;
	// box-shadow: 1.5px 2.6px 61.6px 17.4px rgba(0, 0, 0, 0.26);
	@include mobile(992){
		width: 875px;
		height: 508px;
	}
	@include mobile(1200){
		width: 1054px;
		height: 617px;
	}
	iframe{
		width: 100%;
		height: 100%;
	}
}
.videobox{
	display: none;
	position: relative;
	z-index: 50;
	margin-top: -20%;
	@include mobile(992){
		display: block;
		margin-top: -20%;
	}
	@include mobile(1200){
		margin-top: -55%;
	}
}
.videobox1{
	display: block;
	margin-top: 20px;
	@include mobile(992){
		display: none;
		margin-top: 0px;
	}
}
.video-linkbox-text{
	color: #fff;
	@include mobile(992){
		color: #000;
	}
}
.video-link{
	@include mobile(768){
		margin-top: 0px;
	}
}


















































