@import "bourbon";
@import "fonts";
@import "libs";
@import "vars";
@import "style";

// @import "header";
@import "header";
@import "slider";
@import "whyinvestment";
@import "video";
@import "popup";





.popup-hr1{
	background: #06baf6;
}
.popup-link1{
	color: #06baf6;
}

.obrazecwrapp{
	background: #6f90a2;
}

ul{
	padding: 0;
	margin: 0;
}
p{
	margin: 0;
}

.responsive-img{
	height: auto;
	max-width: 100%;
}




// @import "media"; /* Всегда в конце */
// @import "media2";  /* Всегда в конце */